.top-bar, .top-bar ul {
    background-color: $nav-bkgr;
}

.top-bar {
    .menu-text {
        color: white;
        a {
            color: #aaaaaa;
            display: inline;
            padding: 1rem;
        }
    }
}
